// Override Bootstrap variables before importing Bootstrap
$primary: #2e1a1a;
$secondary: #17cd20;
$success: #28a745;
$info: #17a2b8;
$warning: #453505;
$danger: #dc3545;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";
